.caracteristicas{
    background-image: url(./caracteristicas.jpg);
    height: 25rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    .tituloSpan{
        font-size: 7em;
        color: white;
        font-weight: 700;   
        text-shadow: 1px 1px 2px black;    
    }
}