.SoloExperiencia{
    background-image: url(./experiencia.png);
    height: 20rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    .tituloSpan{
        font-size: 7em;
        color: white;
        font-weight: 700;   
        text-shadow: 1px 1px 2px black; 
    }
}

.experience{
    background: white;
    color: black;
    h2{
        margin-top: 5rem;
    }
    .imageExperience{
        transform: scale(0.7);
        transition: 1500ms;
    }
}

.gifImage{    
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    margin-top: 2rem;
}

.repositorio{
    box-shadow: 10px 5px 5px black;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.2em;
}

.parrafoFinal{
    margin-top: 5rem;
}