.estudios{
    background-image: url(./estudiosLogo.jpg);
    height: 20rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;    

    .tituloSpan{
        font-size: 10em;
        font-weight: 700;   
        color: var(--alternative);
        text-shadow: 15px 15px 13px black;
        @media screen and (max-width: 768px){
            font-size: 5.5em;
        }
        @media screen and (max-width: 576px){
            font-size: 4em;
        }
    }
}

.cursos{
    background-color: #000;
    color: var(--primary);
    .imageStudy{
        @media screen and (min-width: 576px){
            transform: scale(1.2);
            transition: 1500ms;
        } 

        @media screen and (min-width: 768px){
            transform: scale(1);
            transition: 1500ms;
        }
        transform: scale(0.7);
        transition: 1500ms;
    }
}