.corte{
    margin-top: 7rem;
    margin-bottom: 7rem;
    color: var(--primary);
}

.imageStudy{
    transform: scale(0.7);
    transition: 1500ms;
}

h2{
    color: var(--primary);
}

p{
    color: var(--primary);
}