:root{
  --primary: white;
  --secondary: darkviolet;
  --alternative: #65049A;
  --exceptional: blue;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 67.5%;
  overflow-x: hidden;
  background-color: black !important;
}
code {
  font-family: 'Poppins', sans-serif !important;
}
